<div style="background-color: #030712">
  <div class="container py-5" style="background-color: #030712">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <h1 class="display-3 fw-bold text-white mb-3">
          Hi, I'm Oussama <span class="wave-emoji">👋</span>
        </h1>
        <p class="text-light mb-4">
          I'm a full stack developer (React.js & Node.js) with a focus on
          creating (and occasionally designing) exceptional digital experiences
          that are fast, accessible, visually appealing, and responsive. Even
          though I have been creating web applications for over 7 years, I still
          love it as if it was something new.
        </p>

        <div class="d-flex align-items-center mb-3">
          <i class="fa-solid fa-location-dot" style="color: #ffffff"></i>
          <span class="text-light" style="padding-left: 5px"
            >Tunisia, Beja</span
          >
        </div>

        <div class="d-flex align-items-center mb-4">
          <div class="me-2 position-relative">
            <span
              class="position-absolute top-50 start-0 translate-middle-y"
              style="
                width: 8px;
                height: 8px;
                background-color: #22c55e;
                border-radius: 50%;
              "
            ></span>
          </div>
          <span class="text-light" style="padding-left: 15px"
            >Available for new projects</span
          >
        </div>

        <div class="d-flex">
          <a href="#" class="text-light"
            ><i class="fa-brands fa-github fa-xl"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="position-relative">
          <div
            class="rounded position-absolute"
            style="
              width: 280px;
              height: 320px;
              top: 20px;
              left: 20px;
              z-index: 0;
            "
          ></div>
          <div
            class="position-relative"
            style="width: 280px; height: 320px; z-index: 1"
          >
            <img src="../../assets/Group 2346.png" alt="" srcset="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
