<div style="background-color: #030712; padding: 10%">
  <div class="container py-5" style="background-color: #030712">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <h1
          class="display-3 fw-bold text-white mb-3"
          data-aos="fade-down"
          data-aos-duration="1000"
        >
          Hi, I'm Oussama <span class="wave-emoji">👋</span>
        </h1>
        <div
          data-aos="fade-right"
          data-aos-duration="1000"
          data-aos-easing="ease-in-sine"
        >
          <p class="text-light mb-4">
            I'm a full stack developer (Angular& Node.js) with a focus on
            creating (and occasionally designing) exceptional digital
            experiences that are fast, accessible, visually appealing, and
            responsive. Even though I have been creating web applications for
            over 2 years
          </p>

          <div class="d-flex align-items-center mb-3">
            <i class="fa-solid fa-location-dot" style="color: #ffffff"></i>
            <span class="text-light" style="padding-left: 5px"
              >Tunisia, Beja</span
            >
          </div>

        <div class="d-flex align-items-center mb-4">
          <div class="me-2 position-relative">
            <span
              class="position-absolute top-50 start-0 translate-middle-y"
              style="
                width: 8px;
                height: 8px;
                background-color: #22c55e;
                border-radius: 50%;
              "
            ></span>
          </div>
          <span class="text-light" style="padding-left: 15px"
            >Available for new projects</span
          >
        </div>

        <div class="d-flex">
          <a
            href="https://github.com/taboubi-oussema"
            target="_blank
          "
            class="text-light"
            ><i class="fa-brands fa-github fa-xl"></i
          ></a>
        </div>
      </div>
    </div>
      <div data-aos="zoom-in" data-aos-duration="2000">
        <div class="col-lg-5">
          <div class="position-relative">
            <div
              class="rounded position-absolute"
              style="
                width: 280px;
                height: 320px;
                top: 20px;
                left: 20px;
                z-index: 0;
              "
            ></div>
            <div
              class="position-relative"
              style="width: 400px; height: 400px; z-index: 1"
            >
              <!-- <img src="../../assets/Group 2346.png" alt="" srcset="" /> -->
              <div id="lottie" ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-skills></app-skills>
<app-experience></app-experience>
<app-work></app-work>
<app-contact> </app-contact>
