<section
  class="contact-section text-center text-light py-5"
  style="height: 100vh"
>
  <div class="container" data-aos="zoom-in-up" data-aos-duration="1000">
    <button class="btn btn-secondary mb-4">Get in touch</button>

    <h2 class="contact-heading mb-3">
      What's next? Feel free to reach out to me if you're looking for<br />
      a developer, have a query, or simply want to connect.
    </h2>

    <div class="contact-info my-4">
      <div class="d-flex align-items-center justify-content-center mb-3">
        <a href="mailto:taboubioussema78@gmail.com" class="contact-link">
          taboubioussema78&#64;gmail.com
        </a>
      </div>

      <div class="d-flex align-items-center justify-content-center">
        <p>+216 53 121 677</p>
      </div>
    </div>

    <p class="text-secondary mb-4">You may also find me on these platforms!</p>

    <div class="social-links">
      <a
        href="https://github.com/taboubi-oussema"
        target="_blank
          "
        class="text-light"
        ><i class="fa-brands fa-github fa-xl"></i
      ></a>
    </div>
  </div>
</section>
