<section class="work-section text-light py-5" style="background-color: #111827">
  <div class="container">
    <h2 class="text-center mb-5">
      Some of the noteworthy projects I have built:
    </h2>

    <div class="project-cards">
      <div class="card bg-dark-subtle mb-4" *ngFor="let project of projects">
        <div
          class="row g-0"
          [ngClass]="{ 'flex-row-reverse': project.reversed }"
        >
          <div class="col-md-6">
            <div class="card-body p-4">
              <h3 class="card-title mb-3">{{ project.title }}</h3>

              <p class="card-text mb-4">{{ project.description }}</p>

              <div class="technologies" style="margin-bottom: 50px">
                <span
                  class="badge rounded-pill bg-dark text-light mx-2 mb-2"
                  *ngFor="let tech of project.technologies"
                >
                  {{ tech }}
                </span>
              </div>
              <a
                [href]="project.link"
                target="_blank"
                class="launch-icon-btn"
                title="Open project"
              >
                <img
                  src="../../assets/box-arrow-up-right.svg"
                  alt="Project Link"
                  width="24"
                  height="24"
                />
              </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="project-image-container">
              <img
                [src]="project.imageUrl"
                class="img-fluid rounded"
                [alt]="project.title"
                width="480"
                height="384"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
